@{
    bool isLoggedIn = Context.Session.GetString(CDictionary.SK_LOGEDIN_USER) != null;
}
<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication2</title>
    <title>@ViewData["Title"]</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous">
    <!-- 在這裡加入 Bootstrap Datepicker 的 CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker3.min.css" rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.17.2/dist/sweetalert2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/nav.css?v=1.0" />
    <link rel="stylesheet" href="~/css/footerstyle.css?v=1.0" />
    <link rel="stylesheet" href="~/css/FrontIndexstyle.css?v=1.0" />
    <link href="~/assets/css/style.css?v=1.0" rel="stylesheet">
    <style>
        body {
            background-color: white !important;
        }

        .sidebarbox {
            border: 1px solid #F0F0F0;
            height:330px;
			box-shadow: 0px 0px 1px #BEBEBE;
			border-radius: 10px;
        }

        .bi-person-circle, .bi-file-earmark-text {
            font-size:24px;
            color: #6C6C6C
        }

        .box-item{
            font-weight:500;
            cursor: pointer;
            color: black;
        }

        .box-item a{
                color:black;
                display: block; /* 讓 <a> 變成區塊元素，填滿父層 */
                width: 100%; /* 讓 <a> 佔滿 <li> */
                height: 100%;
                padding: 10px 40px; /* 讓文字間距更舒適 */
        }

        .box-item:hover,
        .box-item a:hover {
                background-color: #F0F0F0;
                font-weight:bold;
        }

        .selected{
            background-color: #F0F0F0;
            font-weight: bold;
        }

    </style>
    <link rel="stylesheet" href="~/css/chat.css" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body class="mb-0 h-100  d-flex flex-column">
    <header>
        <!-- 標題 -->
        <div class="container mt-2">
            <div class="row">
                <div class="col-8 d-flex align-items-center">
                    <a class="navbar-brand titleName" href="~/FrontHome/FrontIndex">UniPay</a>
                    <form class="d-flex me-5 form-search input-search" method="get" action="@Url.Action("ProductList","Product")">
                        <input class="form-control me-2 index-search"
                               type="search"
                               placeholder="搜尋商品"
                               aria-label="Search"
                               name="keyword"
                               autocomplete="off" />
                        <button class="btn btn-outline-success btn-search" type="submit">
                            <div><i class="bi bi-search"></i></div>
                        </button>
                    </form>
                </div>
                <div class="col-4 d-flex align-items-center">
                    <div class="ms-auto">
                        <!-- 會員區域 -->
                        <div class="member-area position-relative">
                            <a id="personicon" href="@(isLoggedIn ? "#" : "/FrontMember/fcreate")" class="icon-link">
                                <i class="bi bi-person"></i>
                            </a>
                            <!-- 下拉選單容器 -->
                            <div id="memberDropdown"
                                 class="dropdown-menu position-absolute"
                                 style="display: none;
                                        min-width: 150px;
                                        top: calc(100% + 11px);
                                        left: 13px;
                                        margin-top: 0;
                                        border-radius: 4px;
                                        box-shadow: 0 2px 10px rgba(0,0,0,0.1);
                                        z-index: 1000;">
                            </div>
                        </div>
                    </div>
                    <!-- 選單項目將由JavaScript動態生成 -->
                        <a href="~/FrontHome/Favorite"> <i class="bi bi-heart"></i></a>
                        <a href="~/FrontHome/Cart"> <i class="bi bi-handbag"></i></a>                      
                </div>
            </div>
        </div>
        <hr class="m-1" />
        <!-- 導覽列 -->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-light py-1 ">
                        <div class="container-fluid">
                            <ul class="navbar-nav me-auto mb-lg-0 d-flex flex-row">
                                <li class="nav-item dropdown ">
                                    <a href="@Url.Action("ProductList", "Product", new { keyword = "女裝" })"
                                       class="nav-link dropdown-toggle menu-women navtitle"
                                       id="navbarDropdown"
                                       role="button"
                                       data-bs-toggle="dropdown"
                                       aria-expanded="false"
                                       onclick="location.href=this.href">
                                        Women
                                    </a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle menu-men navtitle "
                                       href="@Url.Action("ProductList", "Product", new { keyword = "男裝" })"
                                       id="navbarDropdown"
                                       role="button"
                                       data-bs-toggle="dropdown"
                                       aria-expanded="false"
                                       onclick="location.href=this.href">
                                        Men
                                    </a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle menu-kids navtitle"
                                       href="@Url.Action("ProductList", "Product", new { keyword = "童裝" })"
                                       id="navbarDropdown"
                                       role="button"
                                       data-bs-toggle="dropdown"
                                       aria-expanded="false"
                                       onclick="location.href=this.href">
                                        Kids
                                    </a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle menu-style navtitle"
                                       href="@Url.Action("StyleList", "Style")"
                                       id="navbarDropdown"
                                       role="button"
                                       data-bs-toggle="dropdown"
                                       aria-expanded="false"
                                       onclick="location.href=this.href">
                                        Style
                                    </a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link navtitle" href="~/FrontHome/Customize">Customized</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <hr class="m-1" />
        <!-- women 選單 -->
        <div class="fs-6" id="menu-women">
            <div class="menu ">
                <div class="menu-column">
                    <div class="my-2 fw-bold"><a href="@Url.Action("ProductList", "Product", new { keyword = "女裝上衣" })" class="item">上衣</a></div>
                    <div class="my-4"><a href="@Url.Action("ProductList", "Product", new { keyword = "女裝短袖上衣" })" class="item">短袖上衣</a></div>
                    <div class="my-4"><a href="@Url.Action("ProductList", "Product", new { keyword = "女裝長袖上衣" })" class="item">長袖上衣</a></div>
                    <div class="my-4"><a href="@Url.Action("ProductList", "Product", new { keyword = "女裝襯衫" })" class="item">襯衫</a></div>
                </div>
                <div class="menu-column">
                    <div class="my-2 fw-bold"><a href="@Url.Action("ProductList", "Product", new { keyword = "女裝下著" })" class="item">下著</a></div>
                    <div class="my-4"><a href="@Url.Action("ProductList", "Product", new { keyword = "女裝褲子" })" class="item">褲子</a></div>
                    <div class="my-4"><a href="@Url.Action("ProductList", "Product", new { keyword = "女裝裙子" })" class="item">裙子</a></div>

                </div>
                <div class="menu-column">
                    <div class="my-2 fw-bold"><a href="@Url.Action("ProductList", "Product", new { keyword = "女裝連身" })" class="item">連身</a></div>
                    <div class="my-4"><a href="@Url.Action("ProductList", "Product", new { keyword = "女裝洋裝" })" class="item">洋裝</a></div>
                    <div class="my-4"><a href="@Url.Action("ProductList", "Product", new { keyword = "女裝外套" })" class="item">外套</a></div>
                </div>
                <div class="menu-column">
                    <div class="my-2 fw-bold"><a href="@Url.Action("ProductList", "Product", new { keyword = "女裝配件" })" class="item">配件</a></div>
                    <div class="my-4"><a href="@Url.Action("ProductList", "Product", new { keyword = "女裝鞋襪" })" class="item">鞋襪</a></div>
                    <div class="my-4"><a href="@Url.Action("ProductList", "Product", new { keyword = "女裝帽子" })" class="item">帽子</a></div>
                    <div class="my-4"><a href="@Url.Action("ProductList", "Product", new { keyword = "女裝皮帶" })" class="item">皮帶</a></div>
                </div>
            </div>
        </div>
        <!-- men 選單 -->
        <div class="fs-6" id="menu-men">
            <div class="menu">
                <div class="menu-column">
                    <div class="my-2 fw-bold"><a href="@Url.Action("ProductList", "Product", new { keyword = "男裝上衣" })" class="item">上衣</a></div>
                    <div class="my-4"><a href="@Url.Action("ProductList", "Product", new { keyword = "男裝短袖上衣" })" class="item">短袖上衣</a></div>
                    <div class="my-4"><a href="@Url.Action("ProductList", "Product", new { keyword = "男裝長袖上衣" })" class="item">長袖上衣</a></div>
                    <div class="my-4"><a href="@Url.Action("ProductList", "Product", new { keyword = "男裝襯衫" })" class="item">襯衫</a></div>
                </div>
                <div class="menu-column">
                    <div class="my-2 fw-bold"><a href="@Url.Action("ProductList", "Product", new { keyword = "男裝下著" })" class="item">下著</a></div>
                    <div class="my-4"><a href="@Url.Action("ProductList", "Product", new { keyword = "男裝長褲" })" class="item">長褲</a></div>
                    <div class="my-4"><a href="@Url.Action("ProductList", "Product", new { keyword = "男裝短褲" })" class="item">短褲</a></div>

                </div>
                <div class="menu-column">
                    <div class="my-2 fw-bold"><a href="@Url.Action("ProductList", "Product", new { keyword = "男裝連身" })" class="item">連身</a></div>
                    <div class="my-4"><a href="@Url.Action("ProductList", "Product", new { keyword = "男裝外套" })" class="item">外套</a></div>
                </div>
                <div class="menu-column">
                    <div class="my-2 fw-bold"><a href="@Url.Action("ProductList", "Product", new { keyword = "男裝配件" })" class="item">配件</a></div>
                    <div class="my-4"><a href="@Url.Action("ProductList", "Product", new { keyword = "男裝鞋襪" })" class="item">鞋襪</a></div>
                    <div class="my-4"><a href="@Url.Action("ProductList", "Product", new { keyword = "男裝帽子" })" class="item">帽子</a></div>
                    <div class="my-4"><a href="@Url.Action("ProductList", "Product", new { keyword = "男裝包包" })" class="item">包包</a></div>
                </div>
            </div>
        </div>
        <!-- kids 選單 -->
        <div class="fs-6" id="menu-kids">
            <div class="menu">
                <div class="menu-column">
                    <div class="my-2 fw-bold"><a href="@Url.Action("ProductList", "Product", new { keyword = "童裝上衣" })" class="item">上衣</a></div>
                    <div class="my-4"><a href="@Url.Action("ProductList", "Product", new { keyword = "童裝短袖上衣" })" class="item">短袖上衣</a></div>
                    <div class="my-4"><a href="@Url.Action("ProductList", "Product", new { keyword = "童裝長袖上衣" })" class="item">長袖上衣</a></div>
                    <div class="my-4"><a href="@Url.Action("ProductList", "Product", new { keyword = "童裝襯衫" })" class="item">襯衫</a></div>
                </div>
                <div class="menu-column">
                    <div class="my-2 fw-bold"><a href="@Url.Action("ProductList", "Product", new { keyword = "童裝下著" })" class="item">下著</a></div>
                    <div class="my-4"><a href="@Url.Action("ProductList", "Product", new { keyword = "童裝褲子" })" class="item">褲子</a></div>
                    <div class="my-4"><a href="@Url.Action("ProductList", "Product", new { keyword = "童裝裙子" })" class="item">裙子</a></div>

                </div>
                <div class="menu-column">
                    <div class="my-2 fw-bold"><a href="@Url.Action("ProductList", "Product", new { keyword = "童裝連身" })" class="item">連身</a></div>
                    <div class="my-4"><a href="@Url.Action("ProductList", "Product", new { keyword = "童裝洋裝" })" class="item">洋裝</a></div>
                    <div class="my-4"><a href="@Url.Action("ProductList", "Product", new { keyword = "童裝外套" })" class="item">外套</a></div>
                </div>
                <div class="menu-column">
                    <div class="my-2 fw-bold"><a href="@Url.Action("ProductList", "Product", new { keyword = "童裝配件" })" class="item">配件</a></div>
                    <div class="my-4"><a href="@Url.Action("ProductList", "Product", new { keyword = "童裝鞋襪" })" class="item">鞋襪</a></div>
                    <div class="my-4"><a href="@Url.Action("ProductList", "Product", new { keyword = "童裝帽子" })" class="item">帽子</a></div>
                    <div class="my-4"><a href="@Url.Action("ProductList", "Product", new { keyword = "童裝包包" })" class="item">包包</a></div>
                </div>
            </div>
        </div>
        <!-- style 選單 -->
        <div class="fs-6" id="menu-style">
            <div class="menu">
                <div class="menu-column">
                    <div class="my-4"><a href="@Url.Action("StyleList", "Style", new { category = "女性穿搭" })" class="item">Women's Wear</a></div>
                </div>
                <div class="menu-column">
                    <div class="my-4"><a href="@Url.Action("StyleList", "Style", new { category = "男性穿搭" })" class="item">Men's Wear</a></div>
                </div>
                <div class="menu-column">
                    <div class="my-4"><a href="@Url.Action("StyleList", "Style", new { category = "兒童穿搭" })" class="item">Kid's Wear</a></div>
                </div>
                <div class="menu-column">
                    <div class="my-4"><a href="@Url.Action("StyleList", "Style", new { category = "工作穿搭" })" class="item">Work Outfit</a></div>
                </div>
            </div>
        </div>
    </header>
        <div class="container my-3">
            <div class="row">
                <div class="col-2">
                    <div class="sidebarbox">
                        <!--會員中心-->
                        <div>
                            <div class="mt-3 fw-bold  d-flex align-items-center ms-2">
                                <i class="bi bi-person-circle"></i>
                                <div class="ms-2" style="font-size:18px;letter-spacing:1px">會員中心</div>
                            </div>
                            <hr class="my-1" />
                            <ul>
                                <li class ="box-item selected" id="member">
                                <a href="@Url.Action("fprofile","FrontMember")">會員信息</a>
                                </li>
                                <li class="box-item" id="coupon">
                                    <a href="@Url.Action("Coupon","FrontHome")">優惠券</a>
                                </li>
                            </ul>
                        </div>
                        <!--訂單信息-->
                        <div class="mt-4">
                            <div class="mt-3 fw-bold  d-flex align-items-center ms-2">
                            <i class="bi bi-file-earmark-text"></i>
                                <div class="ms-2" style="font-size:18px;letter-spacing:1px">訂單信息</div>
                            </div>
                            <hr class="my-1" />
                            <ul>
                                <li class="box-item" id="order">
                                <a href="@Url.Action("CheckOrder","FrontHome")">訂單查詢</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-10">
                    <main role="main" class="pb-3  flex-shrink-0">
                        @RenderBody()
                    </main>
                </div>
            </div>
        </div>

    
    @* 客服助理 *@
    <div id="chatApp">
        <div class="chat-bubble" v-show="isBubbleVisible">
            <strong>智能助理Unicorn</strong><br />
            Hi~需要幫忙嗎？
        </div>

        <button class="chat-toggle" ref="chatToggle" @@click="toggleChat">
            <img src="~/Images/unicorn.png" alt="智能助理Unicorn" />
        </button>

        <div class="chat-widget" v-show="isVisible" ref="chatWidget">
            <div class="chat-widget-header">
                <h4>
                    <i class="fas fa-robot"></i>
                    智能助理Unicorn
                </h4>
                <button class="chat-close" @@click="closeChat">
                    <i class="fas fa-times"></i>
                </button>
            </div>

            <div class="chat-widget-messages" ref="messagesContainer">
                <div v-for="(msg, index) in messages"
                     :key="index"
                     class="chat-message"
                     v-on:class="msg.type">
                    {{ msg.content }}
                </div>
                <div v-if="isTyping" class="chat-message received">正在輸入...</div>
            </div>

            <div class="chat-widget-input">
                <input type="text"
                       ref="chatInput"
                       v-model="message"
                       @@keyup.enter="SendMessage"
                       placeholder="輸入訊息..." />
                <button @@click="SendMessage"
                        :style="{ transform: message.trim() ? 'scale(1.1)' : 'scale(1)' }">
                    <i class="fas fa-paper-plane"></i>
                </button>
            </div>
        </div>
    </div>
    <!-- footer -->
    <footer class="footer-59391 mt-auto">
        <div class="container">
            <div class="row mb-3">
                <div class="col-md-4">
                    <a class="navbar-brand titleName" href="~/FrontHome/FrontIndex">UniPay</a>
                </div>
                <div class="col-md-8 text-md-right">
                    <ul class="list-unstyled social-icons">
                        <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                        <li><a href="#"><i class="bi bi-twitter"></i></a></li>
                        <li><a href="#"><i class="bi bi-instagram"></i></a></li>
                        <li><a href="#"><i class="bi bi-youtube"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-6 text-md-right ms-auto">
                    <ul class="nav-links list-unstyled nav-right">
                        <li><a href="@Url.Action("FrontIndex","FrontHome")">首頁</a></li>
                        <li><a href="#">關於我們</a></li>
                        <li><a href="#">連繫我們</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col ">
                    <div class="copyright">
                        <p><small>Copyright 2019. All Rights Reserved.</small></p>
                    </div>
                </div>
            </div>

        </div>
    </footer>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>      
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- 3.加入 Moment.js  用於日期時間的處理和格式化的 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
    <!-- 4.Bootstrap Datepicker 的 主程式：提供日期選擇功能 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/js/bootstrap-datepicker.min.js"></script>
    <!-- 5.Bootstrap Datepicker 的 中文語言包：提供中文介面 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/locales/bootstrap-datepicker.zh-TW.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.11/signalr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/nav.js"></script>
    <script src="~/js/chat.js"></script>
    <script src="~/assets/js/main.js"></script>
    <script src="~/js/datepicker.js"></script>
    <script src="~/js/personicon.js"></script>
    <script>
        $(function () {
            // 獲取當前 URL 來設置對應的選項為 selected
            let currentUrl = window.location.pathname;
            $(".box-item").each(function () {
                let link = $(this).find("a").attr("href");
                // 判斷當前頁面的 URL 是否與選單的連結匹配
                if (link && currentUrl.includes(link)) {
                    $(".box-item").removeClass("selected"); // 先清除所有的 selected
                    $(this).addClass("selected");  // 為當前匹配的項目添加 selected
                }
            });
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)


   
</body>
</html>