@model List<Project.Models.CMemberWrap>

@{
    ViewData["Title"] = "Blacklist";
}
<h1>黑名單會員列表</h1>
<style>
    .btn {
        margin: 2px;
        border-radius: 4px;
    }

    /* 如果你想讓按鈕並排顯示且對齊 */
    td .btn {
        display: inline-block;
        width: auto;
        min-width: 70px;
    }

    .table-wrapper {
        width: 100%;
        max-width: 100%;
    }

        .table-wrapper .table {
            width: 100%;
        }

    /* 移除Bootstrap響應式表格的滾動行為 */
    .table-responsive {
        overflow-x: visible !important;
    }

    .table thead th {
        text-align: center;
        vertical-align: middle;
        white-space: nowrap; /* 防止文字換行 */
    }

    .table tbody td {
        text-align: center;
        vertical-align: middle;
        white-space: nowrap; /* 防止文字換行 */
    }

    /* 如果表格太寬，添加水平滾動條 */
    .table-container {
        overflow-x: auto;
        width: 100%;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
<table class="table">
    <thead>
        <tr>
            <th>
                序
            </th>
            <th>
                姓名
            </th>
            <th>
                性別
            </th>
            <th>
                帳號
            </th>
            <th>
                電子郵件
            </th>
            <th>
                地址
            </th>
            <th>
                生日
            </th>
            <th>
                電話
            </th>
            <th>
                權限
            </th>
            <th>
                創立日期
            </th>
            <th>
                照片
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@{
    int count = 0;
    foreach (var item in Model)
    {
        count++;
        <tr>
            <td>
                @count
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.member.Mname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GenderText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.member.Maccount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.member.Memail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.member.Maddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.member.Mbirthday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.member.Mphone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.member.Mpermissions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.member.McreatedDate)
            </td>
            <td>
                @if (!string.IsNullOrEmpty(item.member.Mphoto))
                    {
                        <img src="~/images/@item.member.Mphoto" height="80" width="90" />
                    }            
            </td>
            <td>
                @Html.ActionLink("解除黑名單", "RemoveFromBlacklist", new { id = item.member.Mid },
                    new { @class = "btn btn-warning", onclick = "return confirm('確定要將此會員解除黑名單嗎?');" })
            </td>
        </tr>
}}
    </tbody>
</table>
        </div>
    </div>

</div>
<div class="text-end mt-3">
    <a href="@Url.Action("List")" class="btn btn-secondary">返回會員列表</a>
</div>
