@model IEnumerable<Project.Models.OrderWrap>

@{
    ViewData["Title"] = "List";
}


<h1>訂單管理</h1>

<div>
    <a href="@Url.Action("List", "Order", new { status = "All" })" class="btn btn-light text-dark me-3">全部訂單</a>
    <a href="@Url.Action("List", "Order", new { status = "待出貨" })" class="btn btn-light text-dark me-3">待出貨</a>
    <a href="@Url.Action("List", "Order", new { status = "運送中" })" class="btn btn-light text-dark me-3">運送中</a>
    <a href="@Url.Action("List", "Order", new { status = "已完成" })" class="btn btn-light text-dark me-3">已完成</a>
    <a href="@Url.Action("List", "Order", new { status = "退貨" })" class="btn btn-light text-dark me-3">退貨</a>
    <a href="@Url.Action("List", "Order", new { status = "付款完成" })" class="btn btn-light text-dark me-3">付款完成</a>
    <a href="@Url.Action("List", "Order", new { status = "尚未付款" })" class="btn btn-light text-dark me-3">尚未付款</a>
</div> 
<br /> 

@using (Html.BeginForm("List", "Order", FormMethod.Get))
{
    <div class="d-flex align-items-center">
         
        @Html.TextBox("txtKeyword", null, new { @class = "form-control", placeholder = "輸入訂購人名稱", style = "height: 35px; width: 94%;" })
        <input type="submit" value="查詢" class="btn btn-primary ms-2" style="height: 35px;" />
    </div>
} 
<br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Oid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Oname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Odiscountedprice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OtotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Odate)
            </th> 
            <th>
                @Html.DisplayNameFor(model => model.Ostatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opayment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Oid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Oname)
            </td>
            <td>
                @(item.Odiscountedprice.HasValue ? item.Odiscountedprice.Value.ToString("#,0") : "0")
            </td>
            <td>
                @item.OtotalPrice.ToString("#,0")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Odate)
            </td> 
            <td>
                @Html.DisplayFor(modelItem => item.Ostatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opayment)
            </td>
            <td>
                    @Html.ActionLink("修改", "Edit", new { id = item.Oid }) |
                @Html.ActionLink("訂單細節", "Details", new { /* id=item.PrimaryKey */ })  
            </td>
        </tr>
}
    </tbody>
</table>
