@model List<Project.Models.CProductWrap> 

@{
    ViewData["Title"] = "List";
}

<h1>商品資料一覽表</h1>

@using (Html.BeginForm())
{
    @:關鍵字 @Html.TextBox("txtKeyword")
    <input type="submit" value="查詢" />
}

<p>
    <a asp-action="Create">新增商品</a>
    <a asp-action="Renew" class="ms-3">商品重上架</a>
</p>

<h4>架上商品</h4>
<table class="table">
    <thead>
        <tr>
            <th>序</th>
            <th>@Html.DisplayNameFor(model => model[0].Pphoto)</th>
            <th>@Html.DisplayNameFor(model => model[0].Pname)</th>
            <th>@Html.DisplayNameFor(model => model[0].Pprice)</th>
            <th>@Html.DisplayNameFor(model => model[0].Ptype)</th>
            <th>@Html.DisplayNameFor(model => model[0].Pcategory)</th>
            <th>@Html.DisplayNameFor(model => model[0].Pdescription)</th>
            @*<th>@Html.DisplayNameFor(model => model[0].Pinventory)</th>*@
            <th>@Html.DisplayNameFor(model => model[0].PcreatedDate)</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 0;
            foreach (var item in Model)
            {
                count++;
                <tr>
                    <td>@count</td>
                    <td>
                        <img src="~/images/@item.Pphoto" height="80" width="90" class="rounded" />
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.Pname)</td>
                    <td>@Html.DisplayFor(modelItem => item.Pprice)</td>
                    <td>@Html.DisplayFor(modelItem => item.Ptype)</td>
                    <td>@Html.DisplayFor(modelItem => item.Pcategory)</td>
                    <td>@Html.DisplayFor(modelItem => item.Pdescription)</td>
                   @* <td>@Html.DisplayFor(modelItem => item.Pinventory)</td>*@
                    <td>@Html.DisplayFor(modelItem => item.PcreatedDate)</td>
                    <td>
                        @Html.ActionLink("修改", "Edit", new { id = item.Pid }, new { @class = "btn btn btn-outline-dark btn-sm" })
                        @Html.ActionLink("下架", "Hide", "Product", new { id = item.Pid },
                             new { @class = "btn btn-outline-dark btn-sm", onclick = "return confirm('確定要下架商品嗎?')" })

                        <!-- 查看庫存明細按鈕 -->
                        <button class="btn btn-outline-dark btn-sm" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-@count" aria-expanded="false"
                                aria-controls="collapse-@count">
                            查看庫存
                        </button>
                    </td>
                </tr>

                <!-- Bootstrap 5 手風琴內容 -->
                <tr id="collapse-@count" class="accordion-collapse collapse" data-bs-parent="#accordion">
                    <td colspan="10">
                        <div class="accordion-body">
                            @if (item.TproductInventories != null && item.TproductInventories.Any())
                            {
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>顏色</th>
                                            <th>尺寸</th>
                                            <th>庫存</th>
                                            <th>最後更新時間</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var inventory in item.TproductInventories)
                                        {
                                            <tr>
                                                <td>@inventory.Pcolor</td>
                                                <td>@inventory.Psize</td>
                                                <td>@inventory.Pstock</td>
                                                <td>@inventory.PlastUpdated.ToString("yyyy-MM-dd HH:mm:ss")</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                            else
                            {
                                <p class="text-muted">沒有庫存資訊</p>
                            }
                        </div>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>


