@model List<Project.Models.CProductWrap> 

@{
    ViewData["Title"] = "List";
}

<h1>商品資料一覽表</h1>

@using (Html.BeginForm())
{
    @:關鍵字 @Html.TextBox("txtKeyword")
    <input type="submit" value="查詢" />
}

<p>
    <a asp-action="Create">新增商品</a>
    <a asp-action="Renew" class="ms-3">商品重上架</a>
</p>
@if (Model.Any(t => t.Pinventory == 0))
{
 <h4>缺貨商品</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                序
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Pname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Pprice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Ptype)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Pcategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Psize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Pcolor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Pdescription)
            </th>
            <th >
                @Html.DisplayNameFor(model => model[0].Pinventory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].PcreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Pphoto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @{
        int count1 = 0;
        foreach (var item in Model.Where(m => m.Pinventory == 0)){
        count1++;
            <tr>
            <td>
                @count1
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pprice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ptype)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pcategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Psize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pcolor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pdescription)
            </td>
            <td class="text-danger">
                @Html.DisplayFor(modelItem => item.Pinventory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PcreatedDate)
            </td>
            <td>
                <img src="~/images/@item.Pphoto" height="80" width="90" /><br />
                      
            </td>
            <td>
                @Html.ActionLink("修改商品資訊", "Edit", new { id = item.Pid }) <br /><br />
                @Html.ActionLink("商品下架", "Hide", "Product", new { id = item.Pid },
                                 new { onclick = "return confirm('確定要下架商品嗎?')" })
            </tr>
        }
    }
    </tbody>
</table>
}


<h4>架上商品</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                序
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Pname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Pprice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Ptype)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Pcategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Psize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Pcolor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Pdescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Pinventory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].PcreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Pphoto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int count2 = 0;
            foreach (var item in Model.Where(m => m.Pinventory > 0))
            {
                count2++;
                <tr>
                    <td>
                        @count2
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pprice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ptype)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pcategory)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Psize)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pcolor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pdescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pinventory)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PcreatedDate)
                    </td>
                    <td>
                        <img src="~/images/@item.Pphoto" height="80" width="90" /><br />

                    </td>

                    <td>
                        @Html.ActionLink("修改商品資訊", "Edit", new { id = item.Pid }) <br /><br />
                        @Html.ActionLink("商品下架", "Hide", "Product", new { id = item.Pid },
                             new { onclick = "return confirm('確定要下架商品嗎?')" })
                    </td>

                </tr>
            }
        }
    </tbody>
</table>

